先把資料載入，再開始回答問題

In [1]:
import pandas as pd
df = pd.read_csv("local-only/dataset/adultIncome/adult.data.csv")

1. How many men and women (sex feature) are represented in this dataset?

In [2]:
df['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

2. What is the average age (age feature) of women?

In [3]:
df[df['sex']=='Female']['age'].mean()

36.85823043357163

3. What is the percentage of German citizens (native-country feature)?

In [5]:
(len(df[df['native-country']=='Germany']) / len(df))*100

0.42074874850281013

4. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature)?

In [6]:
df[df['salary'] == '>50K']['age'].mean()

44.24984058155847

In [7]:
df[df['salary'] == '>50K']['age'].std()

10.519027719851826

5. What are the mean and standard deviation of age for those who earn less than 50K per year?

In [8]:
df[df['salary'] == '<=50K']['age'].mean()

36.78373786407767

In [9]:
df[df['salary'] == '<=50K']['age'].std()

14.02008849082488

6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

In [10]:
df[df['salary'] == '>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

7. Find the maximum age of men of Amer-Indian-Eskimo race.

In [11]:
df[df['race'] == 'Amer-Indian-Eskimo']['age'].max()

82

8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

In [12]:
df[df['salary'] == '>50K']['marital-status'].value_counts()

Married-civ-spouse       6692
Never-married             491
Divorced                  463
Widowed                    85
Separated                  66
Married-spouse-absent      34
Married-AF-spouse          10
Name: marital-status, dtype: int64

9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

In [13]:
df['hours-per-week'].max()

99

In [14]:
df[df['hours-per-week']==99]['hours-per-week'].value_counts()

99    85
Name: hours-per-week, dtype: int64

In [15]:
df_99hours =  df[df['hours-per-week']==99]
df_99hours['salary'].value_counts()

<=50K    60
>50K     25
Name: salary, dtype: int64

In [17]:
25/(60+25)

0.29411764705882354

10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

In [18]:
df.groupby(['native-country','salary'])['hours-per-week'].mean()['Japan']

salary
<=50K    41.000000
>50K     47.958333
Name: hours-per-week, dtype: float64