匯入 pandas

In [1]:
import pandas as pd

匯入資料

In [2]:
df = pd.read_csv("dataset/2015_01_10440-01-01-2_Taichung_SeniorHighSchool_EducationCost.csv")

匯入每一年度的資料，分開儲存，並加上年份的欄位

In [16]:
df_2015 = pd.read_csv("dataset/2015_01_10440-01-01-2_Taichung_SeniorHighSchool_EducationCost.csv")
df_2016 = pd.read_csv("dataset/2016_01_10440-01-01-2_Taichung_SeniorHighSchool_EducationCost.csv")
df_2017 = pd.read_csv("dataset/2017_01_10440-01-01-2_Taichung_SeniorHighSchool_EducationCost.csv")
df_2018 = pd.read_csv("dataset/2018_01_10440-01-01-2_Taichung_SeniorHighSchool_EducationCost.csv")

In [17]:
df_2015_result = df_2015[['Complex2Name','FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()
df_2015_result['Year'] = 2015
df_2015_result

  Complex2Name    FValue  Year
0         償還借款    569998  2015
1     折舊、折耗及攤銷    947209  2015
2         經常支出  24645292  2015
3     經常支出報廢金額    534787  2015
4         資本支出   4714075  2015

In [18]:
df_2016_result = df_2016[['Complex2Name','FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()
df_2016_result['Year'] = 2016
df_2016_result

  Complex2Name    FValue  Year
0         償還借款   1014559  2016
1     折舊、折耗及攤銷    975539  2016
2         經常支出  24209205  2016
3     經常支出報廢金額    357410  2016
4         資本支出   5365361  2016

In [19]:
df_2017_result = df_2017[['Complex2Name','FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()
df_2017_result['Year'] = 2017
df_2017_result

  Complex2Name    FValue  Year
0         償還借款   1513842  2017
1     折舊、折耗及攤銷    116655  2017
2         經常支出  23061479  2017
3     經常支出報廢金額    566751  2017
4         資本支出   5574950  2017

In [20]:
df_2018_result = df_2018[['Complex2Name','FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()
df_2018_result['Year'] = 2018
df_2018_result

  Complex2Name    FValue  Year
0         償還借款   2568559  2018
1     折舊、折耗及攤銷    189090  2018
2         經常支出  23744400  2018
3     經常支出報廢金額   5724945  2018
4         資本支出   5319702  2018

把前面所有年份的資料合併

In [21]:
df_total = pd.concat([df_2015_result, df_2016_result, df_2017_result, df_2018_result])
df_total

  Complex2Name    FValue  Year
0         償還借款    569998  2015
1     折舊、折耗及攤銷    947209  2015
2         經常支出  24645292  2015
3     經常支出報廢金額    534787  2015
4         資本支出   4714075  2015
0         償還借款   1014559  2016
1     折舊、折耗及攤銷    975539  2016
2         經常支出  24209205  2016
3     經常支出報廢金額    357410  2016
4         資本支出   5365361  2016
0         償還借款   1513842  2017
1     折舊、折耗及攤銷    116655  2017
2         經常支出  23061479  2017
3     經常支出報廢金額    566751  2017
4         資本支出   5574950  2017
0         償還借款   2568559  2018
1     折舊、折耗及攤銷    189090  2018
2         經常支出  23744400  2018
3     經常支出報廢金額   5724945  2018
4         資本支出   5319702  2018